.App {
  background-color: #06ecf4;
  background-image: url("img/hexagon3.jpg");
  background-size: cover;
  min-height: 100vh;
}

.App header {
  background: white;
  background-image: url("img/header.jpeg");
  background-size: cover;
}

.App__header {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  height: 4em;

}

.App__switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.App__switcher-switch {
  margin: 0 0.25rem;
}
